<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    <link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"></link>
    <link rel="stylesheet" href="style.css">
    <style>
        h2{
            text-align: center;
            text-decoration: underline;
            margin-top: 10px;
        }
       a:hover{
        color: rgb(20, 20, 135);
       }
       *{
    margin:0;
    padding: 0;
    text-decoration: none;

       }
       
  section{
  width: 100%;
  height: 100vh;
  background: url(img1.jpg);
  background-size: cover;
  background-position: center;}
 

 

       

 </style>

</head>
<body>
    




    <div class="sidebar">
        <header> <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-skype"></i>&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-linkedin"></i></header>
        <br>
              
        <ul class="second" style="list-style:none;color: rgb(244, 246, 249);">
            <li><a href=#><i class="fas fa-home-alt"></i>Home</a></li><br>
            <li><a href=about.html><i class="fas fa-user-alt"></i>About</a></li><br>
            <li><a href=predict.html><i class="fas fa-file-alt"></i>Prediction</a></li><br>
            <li><a href=#><i class="fa fa-server" aria-hidden="true"></i>Services</a></li><br>
            <li><a href=contact.html><i class="fa fa-envelope-open" aria-hidden="true"></i>Contact</a></li><br>

        </ul>

     




    </div>

    
 <section>
    <h1>Share price estimation of TOP 5 GPU Companies</h1>
    <h2>Predict Stock price estimation</h2>
 </section>







    
    
</body>
</html>