/* Common Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 16px;
}

a {
    color: blue;
    text-decoration: none;
}

/* Home Page Styles */

.home-background {
    background-image: url('img 1.jpg');
}

/* About Page Styles */

.about-background {
    background-image: url('about_background.jpg');
}

/* Contact Page Styles */

.contact-background {
    background-image: url('contact_background.jpg');
}

/* Sidebar Styles */

.sidebar {
    position: fixed;
    text-align: center;
    width: 250px;
    height: 100%;
    background: #042331;
    color: aliceblue;
}

.sidebar header i {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: aliceblue;
    width: 20px;
    height: 17px;
    border-radius: 5px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    color: aliceblue;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.sidebar ul li:hover a {
    padding-left: 25px;
}

@media (max-width: 803px) {
    .sidebar {
        font-size: 1rem;
    }
    ul {
        width: 1.3rem;
        height: 1.3rem;
    }
    section {
        left: 10%;
        top: 20px;
        width: 800px;
    }
}

/* About Page Navigation */

nav {
    background: rgb(24, 133, 242);
    float: right;
    height: 70px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
    line-height: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(69, 179, 239);
    font-size: 16px;
    padding: 14px;
    border-radius: 4px;
}

label.logo {
    color: rgb(228, 238, 238);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

label ul {
    padding: 40px 0;
}

/* About Page Content */

.about-content {
    margin-top: 80px;
}

.about-img {
    padding: 0 10px 30px 270px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px 40px;
}

.about-item {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.about-item img {
    position: relative;
    width: 100%;
}

.about-item:hover img {
    transform: scale(0.8);
}

/* Contact Page Styles */

.contact-info-subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}

.contact-info-details {
    margin: 60px 0;
}

.contact-info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}

.contact-info-details li i {
    background: #f44770;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.contact-info-details li a {
    color: #fff;
    text-decoration: none;
}

.contact-info-details li a:hover {
    color: #f8eaee;
}

.contact-form-wrap {
    width: 65%;
    float: right;
    padding: 40px 50px 35px 205px;
    border-radius: 0px 30px 30px 0px;
    background: #f1f5f8;
}

.contact-form-title {
    text-align: left;
    margin-left: 203px;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.contact-form-fields {
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}

.contact-form-fields input,
.contact-form-fields textarea {
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%;
}

.contact-form-fields textarea {
    height: 100px;
}

.contact-form-group {
    width: 66%;
    float: center;
    padding: 0px 30px;
    margin: 14px 22px 10px 20px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.contact-form-fields .contact-form-group:last-child {
    width: 76%;
}

.contact-submit-button {
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background: #f44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.contact-submit-button:hover {
    background: #31279d;
}

@media only screen and (max-width: 767px) {
    .box-wrapper {
        width: 100%;
    }

    .contact-info-wrap,
    .contact-form-wrap {
        width: 100%;
        height: inherit;
        float: none;
    }

    .contact-info-wrap {
        border-radius: 30px 30px 0px 0px;
    }

    .contact-form-wrap {
        border-radius: 0px 0px 30px 30px;
    }

    .contact-form-group {
        width: 100%;
        float: none;
        margin: 25px 0px;
    }

    .contact-form-fields .contact-form-group:last-child,
    .contact-submit-button {
        width: 100%;
    }

    .contact-submit-button {
        margin: 10
